body {
    text-align: center;
    background-image: url("hogwarts.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    margin: 0;

}
.sevillana-regular {
    font-family: "Sevillana", cursive;
    font-weight: 400;
    font-style: normal;
}


h1 {
    display: flex;
    justify-content: center;
    color: black;
    font-size: 50px;
    margin-top: 20px;
    font-family: "Sevillana", cursive;

}

h2 {
    background-color: rgba(255, 255, 255, 0.21);
    color: #590b0b;
    display: flex;
    justify-content: center;
    font-size: 36px;
    margin: 20px auto;
    padding: 10px;
    border-radius: 8px;
    width: fit-content;
}

.table {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: rgba(156, 150, 150, 0.38);
    padding: 20px;
    border-radius: 8px;
    margin: 20px auto;
    width: 900px;
    height: 350px;
}

.answers {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button {
    background-color: rgb(87, 78, 78);
    color: white;
    height: 50px;
    width: 300px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    font-size: 16px;
}

button:hover {
    background-color: rgb(50, 50, 50);
}

.achievements {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 20px;
}

.achievements img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    transition: transform 0.3s;
}

.achievements img:hover {
    transform: scale(1.1);
}

@media (max-width: 600px) {
    .answers button {
        width: 100%;
    }

    .achievements {
        flex-direction: column;
        align-items: center;
    }
}
